.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: red;
    flex-wrap: wrap;
}

#item1{
    border: solid 1px black;
    height: 20%;
    width: 100%;
    display: flex;
}

#elemento1{
    border: solid 1px black;
    height: 100%;
    width: 25%;
}

#elemento2{
    border: solid 1px black;
    height: 100%;
    width: 25%;
}

#elemento3{
    border: solid 1px black;
    height: 100%;
    width: 25%;
}

#elemento4{
    border: solid 1px black;
    height: 100%;
    width: 25%;
}

#item2{
    border: solid 1px black;
    height: 20%;
    width: 100%;
    display: flex;
}

#item3{
    border: solid 1px black;
    height: 20%;
    width: 100%;
}

#item4{
    border: solid 1px black;
    height: 20%;
    width: 100%;
}

#item5{
    border: solid 1px black;
    height: 20%;
    width: 100%;
}

#resultadoSoma{
    background-color: red;
    color: white;
}

#resultadoSubtracao{
    background-color: red;
    color: white;
}

#resultadoMultiplicacao{
    background-color: red;
    color: white;
}

#resultadoDivisao{
    background-color: red;
    color: white;
}

#resultadoConversao{
    background-color: red;
    color: white;
}

#resultadoConversao1{
    background-color: red;
    color: white;
}

#areaRe{
    background-color: red;
    color: white;
}

#areaCircu{
    background-color: red;
    color: white;
}